---
import './hero.css';
import Boton from '../atoms/Boton.astro';
import SocialIcons from '../SocialIcons.astro';
---

<section class="hero">
	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Rafael Benítez Díaz</h1>
			<p class="hero__text">
				Desarrollador de Frontend y Estudiante de Tecnologías de la
				Información en los Negocios.
			</p>
			<div class="md:flex justify-between items-center ">
				<Boton
				href="mailto:rafa.bediaz@gmail.com"
				texto="Contactar"
				target="_blank"
				/>
			<SocialIcons width="30" height="30" />
			</div>
			
		</div>
		<img
			class="hero__img"
			src="#"
			alt="Rafael Benítez Díaz"
			width="384"
			height="384"
		/>
		<!-- src="/img/jhon-doe.webp" -->
	</div>
</section>
