@import 'tailwindcss';
@plugin "@midudev/tailwind-animations";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #6d45f9;
  --color-primary-light: #926dff;
  --color-secondary: #eef2f9;
  --color-white-ish: #fbfcfd;
  --color-village: #f0ece3;
  --color-dark-gray: #5d636f;
  --color-gray-light: #dbdee5;

  --color-background: #fbfcfd;
  --color-dark-background: #121212;

  --animate-scroll-infinite: scroll-infinite 15s linear infinite;

  @keyframes scroll-infinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
