---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Cuento con conocimientos en desarrollo web utilizando tecnologías
			como HTML, CSS, JavaScript, Astro, Tailwind, entre otras. También
			tengo experiencia en Python, Bases de Datos (SQL), Git y GitHub. <br
			/>
			Durante mi formación acádemica también he adquirido conocimientos sobre
			la gestión y administración de proyectos utilizando metodologías ágiles
			como Scrum.
		</p>
	</div>
</section>
