---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="#"
			alt="Foto de perfil de Rafael Benítez Díaz"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy un programador autodidacta apasionado por la tecnología y la
				programación. Me gusta aprender cosas nuevas y compartir
				conocimiento. <br />
				Actualmente estoy cursando el sexto cuatrimestre de la licenciatura
				en Tecnología de la Información de los Negocios en la Universidad
				Simón Bolívar México.
				<br />
			</p>
			<SocialIcons width="25" height="25" />
		</div>
	</div>
</section>
