---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="jhonDoe">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/Astro.svg"
				color="#e6ecf5"
				name="Astro"
			/>
			<TerminalIcon
				src="/assets/Python.svg"
				color="#e6ecf5"
				name="Python"
			/>
			<TerminalIcon
				src="/assets/tailwind.svg"
				color="#e6ecf5"
				name="Tailwind"
			/>
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#e6ecf5"
				name="JavaScript"
			/>
			<TerminalIcon src="/assets/git.svg" color="#e6ecf5" name="Git" />
			<TerminalIcon src="/assets/sql.svg" color="#e6ecf5" name="SQL" />
		</div>
	</div>
</Terminal>
