<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mi</h2>
  <hr class="border-1 border-zinc-600" />
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">
    ¡Hola! Soy Rafa, estudiante de <strong class="text-zinc-100 font-medium">Tecnologías de la Información en los Negocios</strong> y apasionado por la tecnología. Mi enfoque esta en <strong class="text-zinc-100 font-medium">el desarrollo web </strong> y <strong class="text-zinc-100 font-medium">la seguridad informática,</strong>
  </p>
  <p class="leading-8 text-lg text-pretty text-zinc-400">
    Me motiva entender y <strong class="text-zinc-100 font-medium">fortalecer la seguridad en aplicaciones y redes</strong>, asegurando su <strong class="text-zinc-100 font-medium">funcionamiento óptimo y protegido.</strong>
  </p>
</section>