---
import RightArrowIcon from '../assets/arrow-right.svg';
import ContactIcon from '../assets/mail.svg';
import GithubIcon from '../assets/github.svg';
import LinkedinIcon from '../assets/linkedin.svg';
---

<section class='flex items-center justify-center min-h-screen'>
  <div class='space-y-8'>
    <div class='space-y-4'>
      <h1 class='font-bold text-7xl'>
        Hola, soy <span
          class='text-primary drop-shadow-xl/75 drop-shadow-primary'
          >Rafael</span
        >
      </h1>
      <p class='text-3xl text-dark-gray dark:text-village font-semibold'>
        Desarrollador Web
      </p>
    </div>
    <p class='text-dark-gray dark:text-village leading-relaxed text-lg'>
      Creo experiencias web modernas y funcionales. Apasionado por el código
      limpio, las nuevas tecnologías y el aprendizaje continuo.
    </p>
    <div>
      <a
        href='#projects'
        class='inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium px-6 h-10 border bg-primary hover:bg-primary/90 text-village rounded-md transition-colors'
      >
        Ver mis proyectos
        <span><RightArrowIcon class='size-5 inline' /></span>
      </a>
      <a
        href='mailto:rafael.benitez.di@usb.edu.mx'
        class='inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium px-6 h-10 border border-[#dbdee5] hover:bg-primary-light hover:text-village rounded-md shadow-xs transition-colors'
      >
        Contáctame
        <span><ContactIcon class='size-5 inline' /></span>
      </a>
    </div>
    <div class='flex items-center gap-6'>
      <a
        href='https://github.com/rafbd'
        target='_blank'
        rel='noopener noreferrer'
        class='hover:bg-primary-light hover:text-village p-1 rounded-md font-bold transition-colors'
      >
        <GithubIcon />
      </a>
      <a
        href='https://www.linkedin.com/in/rafael-benitez-diaz/'
        target='_blank'
        rel='noopener noreferrer'
        class='hover:bg-primary-light hover:text-village p-1 rounded-md font-bold transition-colors'
      >
        <LinkedinIcon />
      </a>
    </div>
  </div>

  <!-- img -->
  <div class='animate-zoom-in'>
    <img
      src='./avatar-pixel-recortado.png'
      alt='Avatar de Rafael Benitez en pixel art'
      class='drop-shadow-2xl drop-shadow-primary'
    />
  </div>
</section>
