---
const { name } = Astro.props;
---

<div class="flex flex-col items-center justify-center">
  <div class="inline-flex flex-col items-center justify-center p-3 border rounded bg-zinc-800 border-zinc-600">
    <slot></slot>
  </div>
  <span class="text-zinc-400 text-sm mt-1 font-sans">{name}</span>
</div>