---
const { name } = Astro.props;
---

<a href="/" class="profile">
	<h3 class="color__gradiente header__title">
		{name}
	</h3>
</a>

<style>
	.img__container:hover {
		transform: scale(1.1);
	}

	.profile {
		display: flex;
		border-radius: 50%;
		align-items: center;
		gap: 1.5rem;
	}
</style>
